server/npm-debug.log
server/data-*.json
server/logs.txt
server/node_modules/*
server/env.bat
client/node_modules/*
*.csv
*.dump

*.bundle.js*

# Elastic Beanstalk Files
server/.elasticbeanstalk/*
server/!.elasticbeanstalk/*.cfg.yml
server/!.elasticbeanstalk/*.global.yml
